/* responsive, form small screens, use 13px font size */
html{
  @media (max-width: 475px)
    font-size: 10px;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box
}


body{
    width:100%;
    height: 100vh;
    background: url('../img/Slide1.JPG')no-repeat center center fixed;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }

    /*-----Navbar, Section and Header-----------*/

    
    h1{
      display:flex;
      text-shadow: 2px 2px 6px rgb(255, 255, 255);
      text-decoration: none;
      color:rgb(0, 140, 255);
      font-size: 4vw;  
      font-style:oblique;
      font-weight:900;
      justify-content: center;
      align-items: center;
      padding-bottom: 2%;
      padding-top:-1%;
      margin-top: -1%;
      word-wrap: none;
      white-space: nowrap;
      margin-left: 82%;
      animation: profile 19s infinite alternate;
      }
    @keyframes profile {
      0%{
      transform: scale(.3) skew(0deg, 0deg);
      
      }
          100%{
          transform: scale(.5) skew(0deg,0deg);
      
      }
    }
    
   
h2 {
      display:flex;
      text-shadow: 2px 2px 2px rgb(255, 255, 255);
      font-size: 4vw;  
      font-style:oblique;
      font-weight:900;
      justify-content: center;
      align-items: center;
      padding-bottom: 1%;
      color:rgb(0, 140, 255);
}

  
  .mode{
    width:100%;
    height: 100vh;
    background-image:url('../img/earth1.JPG');
    background-color: rgb(0, 140, 255);
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: rgb(255, 255, 255);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
   
    }


/*--------------Header & Paragraph Text------------*/


  /*h1:hover::before{
    content: attr(data-text);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-25%,calc(-5% + 100px));
    font-size: 4vw;
    pointer-events: none;
    font-weight: 900;
    font-style: oblique;
    text-shadow:rgb(194, 216, 255);
    color:rgb(255, 255, 255);
   
    align-content: center;
}
*/

p {
  width:900px;
  word-wrap: break-word;
  margin-left:100px;
}

h1 a:hover {

  color:rgb(0, 140, 255);
  text-shadow: #ffffff;
  transform: rotate(360deg);
}


h2:hover {

  color:rgb(0, 140, 255);
  text-shadow: #ffffff;
    
  }


h3 {

  Margin-left: 100px;

}
/*-------------------  center nav icons section----------------*/
/*-------------------- this first part sets the shrink and move of the icons---*/


.socialMedia{
    display:flex;
    justify-content:center;
    align-items: center;
    height:250px;
    z-index: 3;
    text-decoration: none;
    list-style-type: none;
}

.sci {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left:-1px;
  animation: move 19s infinite alternate

    
}
@keyframes move{
    0%{
     transform: scale(.4,.4) skew(0deg,0deg);
    }
      100%{
       transform: scale(1,1.1) skew(0deg, 0deg);
    
      }
    
    }
    /*-------------------- style of list icons for center nav---*/


.sci li{
    position: relative;
    list-style-type: none;
    white-space: nowrap;
    justify-content: center;
}

/* shape of buttons */
.sci li a {
    position: relative;
    width: 80px;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    color:rgb(0, 140, 255);
    border-radius: 0%;
    box-shadow: none;
    transition: 2s;     
    
}


 /*-------- Border frame  and Hover for icons-------- */
.sci li a::before
{
    
    position: absolute;
    top:10px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 0;
    
}
.sci li a:hover {
    color:rgb(0, 140, 255);
    transform: translateY(-20px);
    text-decoration: none;
    box-shadow: 2px 24px 10px (rgba(21, 7, 102, 0.103));
    transition: 0.5s;
    transform: rotate(360deg);
}

/*------------------- data text hover effect section---------------*/

.sci li::before{
    content: attr(data-text);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-25%,calc(-5% + 100px));
    font-size: 4vw;
    pointer-events: none;
    font-weight: 900;
    font-style: oblique;
    text-shadow:1px,1px, 0 rgb(255, 255, 255);
    color:rgb(0, 102, 255);
    transition: 0.5s;
    opacity: 0;
    align-content: center;
}

.sci li:hover::before{
    content:attr(data-text);
    opacity: .7;
    transform: translate(-25%,calc(-5% + 100px));
    align-content: center;
}

/*-----Panel Frames-----------*/

.panel {
  width: 100%;
  min-height: 82vh;
  margin-left: -102%;
  position: fixed;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.6s ease-in-out;
  
}

.panel:target {
  margin-left: 0%;
}

  .content {
    right: 40px;
    left: 280px;
    top: 50px;
    word-wrap: break-word;
    text-decoration: none;
    list-style-type: none;
  }
 

/*---------------Footer------------------*/

footer {
  color:rgb(255, 255, 255);
  padding-top:815px;
  padding-left:9px;
  text-decoration: none;
  list-style-type: none;
  display:list-item;
  z-index: 10;
  
  
}
@media (max-width: 479px){
footer {
  color:rgb(74, 137, 255);
  padding-top:1700px;
  padding-left:10px;
  text-decoration: none;
  list-style-type: none;
  z-index: 10;
  }
}

footer li {
  float:left;
  z-index: 20;
}

.github{
    color: #ffffff;
    text-decoration: none;
    z-index: 20;
}

.linkedin{
  color: #ffffff;
  text-decoration: none;
}

.facebook{
  color: #ffffff;
  text-decoration: none;
}

/*---------------Home Button-------------*/

