* {
  box-sizing: border-box;
}
body{
  background: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  position: right;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #9fadb9;

}
section.type-1 {
  margin: -25;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: #26f5c8;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
color: rgb(247, 253, 247);
font-size: 60px;
padding: 0.55em 0;
margin: 0 auto;
border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

h2 {
color: green;
font-size: 42px;  
margin: 0;
}

h3 {
color: #0ba131;
font-size: 24px;
margin: 0 0 0.25em;
}

h4 {
color: green;
font-size: 24px;
margin: 0 0 0.25em;
}

p {
color:black;
font-size: 1.15em;
margin: 0.5em 0 1em;
}

img {
max-width:100%;
margin: 0 0 46px;
border-radius: 5px;
border: solid 1px rgba(0, 0, 0, 0.1);
}

section.type-b{
display: block;
width: 1000px;
height: 250px;
background: rgb(255, 186, 186);
width: 100%;   /* == 400px * .5 = 200px */
height: 25%;  /* == 160px * .25 = 40px */
margin: 0%;   /* == 400px * .05 = 20px */
padding: 0%;  /* == 400px * .05 = 20px */
}
section.type-c{
display: block;
width: 1000px;
height: 250px;
background: rgb(255, 186, 186);
width: 100%;   /* == 400px * .5 = 200px */
height: 25%;  /* == 160px * .25 = 40px */
margin: 0%;   /* == 400px * .05 = 20px */
padding: 0%;  /* == 400px * .05 = 20px */
}
section.type-f{
display: block;
width: 1000px;
height: 250px;
width: 100%;   /* == 400px * .5 = 200px */
height: 0%;  /* == 160px * .25 = 40px */
margin: -2%;   /* == 400px * .05 = 20px */
padding: 0%;  /* == 400px * .05 = 20px */
}

